# CryptoAid Backend (Express + Prisma + WS)
PORT=4000

# Database (Supabase Postgres)
# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.qgvkupkebioiafhucocz:rKswFyROYCtIhQtR@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.qgvkupkebioiafhucocz:rKswFyROYCtIhQtR@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"

# Redis (Upstash or local)
REDIS_URL=redis://localhost:6379

# Base Sepolia RPC
RPC_URL=https://base-sepolia.g.alchemy.com/v2/czheP03mJkUjYcTB-Ns2y
# WebSocket RPC preferred for real-time event indexing
RPC_WS_URL=wss://base-sepolia.g.alchemy.com/v2/czheP03mJkUjYcTB-Ns2y

# DonationVault deployed address
VAULT_ADDRESS=0xd51b5a2639A38eF69B3c18A6FbEc0b2f115BE255

# Optional: comma-separated origins for CORS (leave blank to allow all)
CORS_ORIGIN=
